.about-hero-section {
  position: relative;
  background-image: url('https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgb&dl=pexels-souvenirpixels-417074.jpg&fm=jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  color: white;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3));
  z-index: 1;

}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 700px;
  text-align: center;
  animation: fadeInUp 1s ease forwards;
}

.hero-content h1 {
  font-size: 3.2rem;
  margin-bottom: 1rem;
  background: linear-gradient(90deg, #C1A57B, #F2E6D0);


  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.hero-content p {
  font-size: 2rem;
  line-height: 1.7;
  color: #f3f3f3;
  font-family: 'Poppins', sans-serif;
}


/* Responsive Media Queries */
@media (max-width: 1024px) {
  .about-hero-section {
    padding: 0 1.5rem;
  }

  .hero-content h1 {
    font-size: 2.8rem;
  }

  .hero-content p {
    font-size: 1.7rem;
  }
}

@media (max-width: 768px) {
  .about-hero-section {
    height: 80vh;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .about-hero-section {
    height: 70vh;
    padding: 0 1rem;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 1.7rem;
  }

  .hero-content p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}