.services-hero {
  height: 100vh;
  background-image: url('/src/assets/yoga2.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5rem;
}

.hero-overlay {
  width: 100%;
  height: 100%;
  /* background: rgba(101, 67, 33, 0.5);  */
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 500px;
  color: #fff5ee;
  font-family: 'Segoe UI', sans-serif;
}

.hero-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: black;
}

.hero-content p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fffaf0;
}

/* Responsive Media Queries */
@media (max-width: 1024px) {
  .services-hero {
    padding-left: 3rem;
  }

  .hero-content h1 {
    font-size: 1.8rem;
  }

  .hero-content p {
    font-size: 1.3rem;
  }
}

@media (max-width: 768px) {
  .services-hero {
    padding-left: 2rem;
    height: 80vh;
  }

  .hero-content {
    max-width: 90%;
  }

  .hero-content h1 {
    font-size: 1.6rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .services-hero {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 70vh;
    justify-content: center;
  }

  .hero-content {
    max-width: 100%;
  }

  .hero-content h1 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  .hero-content p {
    font-size: 1.1rem;
  }
}